{% extends "base.html" %}
{% block content %}
  <div class="flex">
    <img class="mx-auto w-24 rounded-full" src="/static/img/sample.png" />
  </div>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ipsa
    veritatis modi placeat facilis est incidunt iure laudantium, exercitationem
    iusto sit ducimus perferendis labore voluptas excepturi optio et aliquid
    debitis?
  </p>
  <p>
    Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur.
    Ac ne plura complectar-sunt enim innumerabilia-, bene laudata virtus
    voluptatis aditus intercludat necesse est. Qui ita affectus, beatum esse
    numquam probabis; Respondeat totidem <a href="http://example.com">rerum.com</a>. Nunc agendum est subtilius. Sed
    haec quidem liberius ab eo dicuntur et saepius. Ita cum ea volunt retinere,
    quae superiori sententiae conveniunt, in Aristonem incidunt;
  </p>
  <p>
    Multoque hoc melius nos veriusque quam Stoici. Quid turpius quam sapientis
    vitam ex insipientium sermone pendere?
  </p>

  {% for post in posts %}
    <div class="py-0.5 flex justify-between border-b border-dashed border-t-0 border-r-0 border-l-0 border-gray-400">
      <a href="{{ url_for('posts', path=post.slug)}}">{{post.title}}</a>
      <span>{{post.date}}</span>
    </div>
  {% endfor %} 
{% endblock %}
